<ion-header>
  <ion-toolbar>
    <ion-title>
      Insert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" name="name" [(ngModel)]="name" placeholder="Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="addUser()" class="center" style="background-color: skyblue;border-radius:20px; text-align: center;">
      Insert
    </ion-button>
  </ion-item>
  <ion-item class="center">
    {{ message }}
  </ion-item>
</ion-content>