<ion-header>
  <ion-toolbar>
    <ion-title>
      Database
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item>
      <ion-input type="text" placeholder="Find by id or name" [(ngModel)]="param" name="param"></ion-input>&nbsp;&nbsp;
    </ion-item>
    <ion-item>
      <ion-button class="center" type="submit" (click)="findUser()" style="background-color: skyblue;border-radius:20px; text-align: center;">Search</ion-button>
    </ion-item>
    <ion-item>
      {{ msg }}
    </ion-item>
    <ion-list lines="none"><br>
      <ion-item>
        <table class="center" style="width: 100%;">
          <tr>
            <th class="border">&nbsp;Id&nbsp;</th>
            <th class="border">&nbsp;Name&nbsp;</th>
            <th class="border">&nbsp;Password&nbsp;</th>
            <th class="border">&nbsp;Update&nbsp;</th>
            <th class="border">&nbsp;Delete&nbsp;</th>
          </tr>
          <tr *ngFor="let user of users">
            <td class="border">{{ user.id }}</td>
            <td class="border">{{ user.name }}</td>
            <td class="border">{{ user.password }}</td>
            <td class="border"><ion-button [routerLink]="[user.id]">Update</ion-button></td>
            <td class="border"><ion-button (click)="deleteUser(user.id)">Delete</ion-button></td>
          </tr>
        </table>
      </ion-item>
    </ion-list>
</ion-content>